body {
  font-size: 18px;
  line-height: 27px;
  font-weight: $fw-300;
  color: #2C2B2B;
  background-color: #fff;
  font-family: $oswald, sans-serif;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  color: #014469;
  font-size: 36px;
  line-height: 54px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 50px;
  position: relative;
  text-align: left;
}

.title::after {
  content: '';
  width: 80px;
  height: 3px;
  background-color: #014469;
  position: absolute;
  top: 27px;
  margin-left: 20px;
}
