@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';

.header {
  background-image: url("../images/header__bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  min-height: 700px;
  color: $white;

  &__top {
    padding: 47px 0 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
  }

  &__content {
    position: relative;
    max-width: 780px;
  }

  &__title,
  &__subtitle {
    font-weight: 400;
    text-transform: uppercase;
  }

  &__title {
    font-size: 72px;
    line-height: 1.3;
  }

  &__subtitle {
    font-size: 36px;
  }

  &__text {
    margin-bottom: 30px;
  }

  &__images {
    position: absolute;
    left: 390px;
    bottom: -265px;
  }

  &__social {
    padding: 70px 0 20px 55px;
  }

}


.auto {
  margin-top: 300px;

  &__inner {
    margin-left: -7px;
    margin-right: -7px;
    margin-bottom: 100px;
  }

  &__box {
    border: 1px solid $gray;
    padding: 6px 6px 16px 6px;
    margin: 0 7px;
    text-align: center;
    cursor: pointer;
    transition: all 0.7s;

    &:hover {
      color: $white;
      background-color: $dark;
      border-color: $dark;
    }

  }

  &__img {
    margin-bottom: 23px;
  }

  &__title {
    font-weight: 300;
    margin-bottom: 5px;
    text-transform: uppercase;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 50px;

    button {
      font-size: 0;
      border: none;
      margin: 0 10px;
      background-color: $gray;
      width: 50px;
      height: 1px;
    }

  }

  .slick-active {

    button {
      background-color: $dark;
      height: 3px;
    }

  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__list {
    max-width: 460px;
    width: 100%;
    margin-right: 80px;
  }

  &__item:not(:last-child) {
    margin-bottom: 30px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__name {
    font-weight: 500;
    text-transform: uppercase;
  }

  &__unfill {
    height: 24px;
    background-color: $gray;
  }

  &__fill {
    height: 100%;
    background-color: $accent;
  }

  &__text {
    max-width: 504px;
  }

}

.services {

  &__inner {
    display: flex;
  }

  &__content {
    max-width: 505px;
    margin-right: 96px;
  }

  &__title {
    color: $accent;
    font-weight: 300;
    margin-bottom: 12px;
  }

  &__text {
    margin-bottom: 57px;
  }

  &__button {
    color: $white;
  }

  &__list {
    counter-reset: my-counter;
  }

  &__item {
    counter-increment: my-counter;
    margin-bottom: 12px;
    padding: 10px 15px 10px 113px;
    position: relative;
  }

  &__item::before {
    content: '0' counter(my-counter);
    position: absolute;
    left: 20px;
    font-size: 36px;
    line-height: 2;
    font-weight: 400;
    color: $gray;
    transform: rotate(270deg);
  }

  &__name {
    font-size: 24px;
  }

}


.benefits {

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    max-width: 300px;
  }

  &__item {
    margin-bottom: 27px;
    padding-right: 26px;
    font-size: 16px;
    line-height: 1.6;
    color: $black;
    position: relative;
    text-align: right;

    &::after {
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: $dark;
      right: 0;
      bottom: 2px;
    }

  }

  &__item:nth-child(1),
  &__item:nth-child(7) {
    margin-right: 10px;
  }

  &__item:nth-child(2),
  &__item:nth-child(6) {
    margin-right: 60px;
  }

  &__item:nth-child(3),
  &__item:nth-child(5) {
    margin-right: 110px;
  }

  &__item:nth-child(4) {
    margin-right: 160px;
  }

  &__content {
    max-width: 300px;
  }

  &__text {
    margin-bottom: 30px;
    text-align: right;
  }

  &__text+&__text {
    max-width: 267px;
    margin-left: auto;
  }

}

.video-popup {
  background-color: $yellow;
  text-transform: uppercase;
  color: $black;
  padding: 6px 34px 6px 64px;
  text-align: center;
  display: block;
  margin-left: auto;
  height: 65px;
  width: 200px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url("../images/popup.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    top: 20px;
    left: 25px;
  }

}


.reviews {
  padding: 100px 0;
  background-color: $dark;
  color: $white;

  &__title {
    color: $white;

    &::after {
      background-color: $white;
    }

  }

  &__slider {
    text-align: center;
  }

  &__item {
    border: 1px solid $yellow;
    padding: 45px 30px;
    max-width: 270px;
    min-height: 350px;
  }

  &__name {
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.6;
    display: block;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;

    button {
      background-color: $yellow;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      line-height: 2;
      margin: 0 5px;
      font-size: 0;
    }

  }

  .slick-active {

    button {
      width: 16px;
      height: 16px;
    }

  }

}


.contacts {

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    margin-bottom: 20px;
  }

  &__form {
    background-color: $dark;
    padding: 50px 75px 57px;
  }

  &__form-title {
    color: $white;
    margin-bottom: 16px;
    margin-left: 53px;

    &::after {
      background-color: $white;
    }
    
  }

  &__input {
    width: 450px;
    height: 75px;
    color: $white;
    border: 1px solid $white;
    margin-bottom: 12px;
    display: block;
    font-size: 24px;
    padding: 0 15px;
    text-align: center;
  }

  &__input::placeholder {
    font-family: $oswald, sans-serif;
    font-size: 18px;
    color: $gray;
  }

  &__btn {
    margin: 78px auto 0 auto;
  }

}


.footer {
  background-color: $dark;

  &__inner {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;
  }

}


@media(max-width: 1250px) {

  .header {

    &__images {
      width: 90%;
      left: 247px;
      bottom: -230px;
    }

  }

  .benefits {

    &__images {
      width: 40%;
    }

  }

}


@media(max-width: 992px) {

  .phone {
    font-size: 24px;
  }

  .header {

    &__title {
      font-size: 54px;
      line-height: 1.5;
    }

    &__subtitle {
      font-size: 24px;
    }

    &__social {
      padding: 30px 0 20px 53px;
    }

    &__images {
      position: static;
      width: 100%;
    }

  }

  .auto {
    margin-top: 80px;

    &__list {
      margin-right: 40px;
    }

    &__text {
      max-width: 350px;
    }

  }

  .services {

    &__inner {
      flex-wrap: wrap;
    }

    &__list {
      order: -1;
      margin-bottom: 30px;
    }

    &__content {
      margin-right: 0;
    }

  }

  .benefits {

    &__box {
      flex-wrap: wrap;
      justify-content: space-around;
    }

    &__images {
      width: 60%;
      margin-bottom: 65px;
    }

    &__content {
      max-width: 600px;
    }

    &__text {
      text-align: center;
    }

    &__text+&__text {
      max-width: 600px;
    }

    .video-popup {
      margin: 0 auto;
    }

  }

  .contacts {

    &__inner {
      display: block;
      text-align: center;
    }

    &__list {
      margin-bottom: 30px;
    }

    &__input {
      width: 100%;
    }

    &__info-title {
      text-align: center;
    }

    &__form-title {
      margin-left: 0;
      text-align: center;
    }

  }

}



@media(max-width: 768px) {

  .header {

    &__top {
      padding: 30px 0 30px;
    }

  }

  .auto {

    &__img {
      width: 100%;
    }

    &__info {
      flex-direction: column;
      align-items: center;
    }

    &__list {
      margin-right: 0;
      margin-bottom: 30px;
    }

    &__text {
      max-width: 100%;
    }

  }

  .benefits {

    &__images {
      width: 70%;
      margin-bottom: 0;
    }

    &__list {
      width: 100%;
    }

    &__item {
      text-align: left;
      padding-right: 0;
      padding-left: 26px;
    }

    &__item::after {
      right: auto;
      left: 0;
    }

  }

  .footer {

    &__inner {
      flex-direction: column;
      padding: 20px 0;
    }

    &__social {
      margin: 25px 0;
    }

  }

}


@media(max-width: 576px) {

  .header {

    &__content {
      text-align: center;
    }

    &__social {
      padding: 30px 0 0 0;
      justify-content: center;
    }

  }

  .auto {

    &__inner {
      margin-bottom: 50px;
    }

  }

  .services {

    &__content {
      text-align: center;
    }

  }

  .video-popup {
    line-height: 1.7;
  }

}


@media(max-width: 480px) {

  .header {

    &__top {
      flex-direction: column;
    }

    &__title {
      margin-bottom: 20px;
      font-size: 44px;
      line-height: 1;
    }

  }

  .logo {
    margin-bottom: 20px;
  }

  .auto {

    .slick-dots {
      margin-top: 25px;
    }

    .slick-dots {

      button {
        width: 10px;
      }

    }

  }

  .services {

    &__item {
      padding: 10px 15px 10px 70px;
    }

    &__item::before {
      left: 11px;
    }

  }

  .reviews {
    padding: 40px 0;
  }

  .contacts {

    &__form {
      padding: 50px 10px 57px;
    }

  }

}